<mat-card class="monte-seu-carimbo">
    <div class="monte-seu-carimbo-banner">
        <h1>Monte seu carimbo</h1>
        <div class="monte-seu-carimbo-title">
            <h2>subtitulo vai aqui</h2>
        </div>
        <div class="monte-seu-carimbo-carimbos">
            <div class="carimbo1">
                <p>carimbo1</p>
            </div>
            <div class="carimbo2">
                <p>carimbo2</p>
            </div>
            <div class="carimbo3">
                <p>carimbo3</p>
            </div>
            <div class="carimbo4">
                <p>carimbo4</p>
            </div>
        </div>
    </div>
</mat-card>