.monte-seu-carimbo {
    border: 10px;
    border-color: #fff;
    max-width: 800px;
    max-height: 400px;
    min-width: 800px;
    min-height: 400px;
    background-color: #fff;
    position: relative;
}

.monte-seu-carimbo-banner {
    border: 10px;
    border-color: #fff;
    max-width: 800px;
    max-height: 400px;
    flex-flow: column;
    display: flex;
    position: absolute;
}

.monte-seu-carimbo-title {
    border: 10px;
    border-color: #fff;
}

.monte-seu-carimbo-carimbos {
    border: 10px;
    border-color: #fff;
    flex-flow: column;
}

.carimbo1 {
    border: 10px;
    border-color: #fff;  
}

.carimbo2 {
    border: 10px;
    border-color: #fff;
}

.carimbo3 {
    border: 10px;
    border-color: #fff;
}

.carimbo4 {
    border: 10px;
    border-color: #fff;
}
